<div style="padding: 20px; margin: 30px 0px 30px 30px; background-color: #DFDFDF; font-size: 16px; line-height: 2em;">
    <p>Dear {{ user.username }},</p>
    <p>
        A new maintenance task has been requested.
    </p>
    <p >
        Description: {{ task.description }}<br>
        Requested By: {{ task.requested_by.username }}<br>
        Requested On: {{ task.date_requested.strftime('%a %b %d %H:%M:%S %Y') }}<br>
    </p>
    <p>
        <a href="{{ url_for('main.view_task', task_id=task.id, _external=True) }}">Click Here</a>
        to view it.
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('main.view_task', task_id=task.id, _external=True) }}</p>
</div>

<p>Sincerely,</p>
<p>MainTraq Maintenance Tracker.</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
