<h1>Task Rejected.</h1>
<div style="padding: 20px; margin: 30px 0px 30px 30px; background-color: #DFDFDF; font-size: 16px; line-height: 2em;">
    <p>Dear {{ task.requested_by_name }},</p>
    <p>Your task request {{ task.description }} has been rejected by the Administor.</p>
    {% if task.rejection_reasons %}
        Provided Remarks:
        <p style="padding: 0 10px;">
            {{ task.reasons }}
        </p>
    {% endif %}

</div>

<p>Sincerely,</p>
<p>MainTraq Maintenance Tracker.</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
