<h1>Task Confirmed.</h1>
<div style="padding: 20px; margin: 30px 0px 30px 30px; background-color: #DFDFDF; font-size: 16px; line-height: 2em;">
    <p>Dear {{ task.requested_by.username }},</p>
    <p>Your task request "{{ task.description }}" has been confirmed by the Administor.</p><br>
    <p>
        It will be assigned to the next available staff member.
        You will receive a notification upon it's completion.
    </p>

</div>

<p>Sincerely,</p>
<p>MainTraq Maintenance Tracker.</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
