{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}
{% import "partials/_tasks.html" as render %}


{% block title %}MainTraq - Home{% endblock %}

{% block page_content %}
    {{ macros.render_alert('alert-warning') }}
    <div class="row">
        {% if current_user.is_maintenance %}
        {{ render.render_tasks(current_user, tasks) }}
        {% else %}
        {{ render.render_tasks(current_user, tasks, tasks_info=tasks_info) }}
        {% endif %}
    </div>
{% endblock %}
