{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}
{% import "partials/_task_details_panel.html" as task_det_panel %}

{% block title %}
    MainTraq - Task Request
{% endblock title %}

{% block page_content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1 class="task-type-header">
                    <a href="{{ url_for('main.update_task', task_id=task.id) }}">
                        {{ task.description | truncate(40, True) | upper }}
                    </a>
                    <small>| Task Details.</small>
                </h1>
            </div>

            <div class="col-md-10 col-md-offset-1">
                {{ macros.render_alert('alert-info') }}
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{ task_det_panel.details_panel(task) }}
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- col -->
        {% if current_user.is_admin or current_user.is_maintenance %}
            <div style="clear: both">
                <a href="{{ url_for('main.index') }}">&laquo; Back to tasklist.</a>
            </div>
        {% endif %}
    </div> <!-- row -->
{% endblock page_content %}
