{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "partials/_alert_messages.html" as macros %}
{% import "partials/_task_details_panel.html" as task_det_panel %}

{% block title %}
    MainTraq - View Task
{% endblock title %}

{% block page_content %}
<div class="row update-page">
    <h1 class="page-header">Updating task: <a href="{{ url_for('main.view_task', task_id=task.id)}}">{{ task.description | truncate(40, True) | lower }}</a></h1>

    <div class="col-md-6">
        <h2>Task Details</h2> <hr>
        {{ task_det_panel.details_panel(task) }}
    </div>
    <div class="col-md-6">
        <h2>Task Update</h2> <hr>
        {{ macros.render_alert('alert-danger') }}
        {{ wtf.quick_form(form) }}
        {% if current_user.is_admin and not task.resolved %}
            <br>
            <a href="{{ url_for('main.reject_task', task_id=task.id)}}" class="btn btn-danger">Reject Task.</a>
        {% endif %}

    </div>
</div>
{% endblock page_content %}
