{% macro render_tasks(tasks) %}
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h4>Tasks</h4>
        </div>
            <div class="panel-body">
                <p>Some things about the tasks.</p>
            </div>
        <table class="table table-striped table-bordered">
            <thead>
                <th>
                    Description
                </th>
                <th>
                    Requested By
                </th>
                <th>
                    Requested On
                </th>
                <th>
                    Confirmed (Admin)
                </th>
                <th>
                    Assigned
                </th>
                <th>
                    Acknowledged (Maintainer)
                </th>
                <th>
                    Status
                </th>
                <th>
                    Completed On
                </th>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {{ task.description | truncate(30, True) }}
                        </td>
                        <td>
                            {{ task.requested_by.username }}
                        </td>
                        <td>
                            {{ task.date_requested.strftime('%a %b %d %H:%M:%S %Y') }}
                        </td>
                        <td>
                            {{ task.confirmed }}
                        </td>
                        <td>
                            {{ task.assigned_to.username }}
                        </td>
                        <td>
                            {{ task.acknowledged }}
                        </td>
                        <td>
                            {{ task.status }}
                        </td>
                        <td>
                            {% if task.date_completed %}
                                {{ task.date_completed.strftime('%d %b, %Y at %H:%M') }}
                            {% else %}
                                <small class="text-muted">Not Completed Yet.</small>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
